.table {
    width: 70%;
    border-collapse: collapse;
}

.th_product {
    width: 50%;
    text-align: start;
}

.table thead tr th {
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 2px;
    color: #494949;
    border-bottom: 1px #6e6e6e solid;
}