.header_list_of_products {
    width: 100%;
    text-align: start;
    border-bottom: 1px rgb(136, 136, 136) solid;
}

.header_list_of_products p {
    color: rgb(32, 32, 32);
    font-size: 0.9rem;
}