.container_title {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.container_title h1 {
    font-size: 2.3rem;
    font-weight: 400;
    color: black;
}