.container_of_products {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.list_of_products{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}